html {
background-image: linear-gradient(to left bottom, #8fcbca, #88c3c9, #83bac7, #80b2c3, #7ea9bf, #7ba9bf, #77aabe, #74aabd, #70b3bd, #73bbb9, #7dc3b1, #8ec9a8);
 }
canvas {
  position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;

}
.row1{
  display: flex;
justify-content: flex-start;

}
.row1-wrap{
  position: absolute;
    height: 95%;
  width: 20%;
}
.btn-back {
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
}
.btn-back-wrapper {
  display: flex;
  justify-content: center;
  height: 12%;
  width: 100%;
  position: absolute;
  top: 1%
}
/* time */
.timer-wrapper {
  position: absolute;
top: 90%;
display: flex;
justify-content: center;

width: 100%;
position: absolute;
}

.timer {
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
      text-align: center;
}

.canvas-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert {
  position: absolute;
    top: 30%;
      padding: 20px;
      font-size: 15pt;
      min-height: 30%;
      background-color: #eee;
      color: #000;
      border: 3px dashed #4F7072;
      z-index: 8;
}

.closebtn {
  margin-left: 15px;
  color: #555;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
p{
  text-align: justify;
}


.container {

  /* visibility: visible; */
  display: flex;
  justify-content: center;


}
.callout {
  position: fixed;
      width: 55%;
      top: 2%;
    max-width: 800px;
    z-index: 10;

}

.callout-header {
  padding: 25px 0;
  background: #555;
  font-size: 26pt;
  color: white;
  text-align: center;
}

.callout-container {
  padding: 10px 60px 30px 60px;
  background-color: #ccc;
  color: black;
  text-align: center;
  text-align: justify;
  font-size: 25pt;
}

.closebtn1 {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn1:hover {
  color: lightgrey;
}


.form-callout {
  position: fixed;
    width: 50%;
    top: 25%;
    z-index: 10;
}
.form-callout-container {
  padding: 20px 50px 55px 50px;
  background-color: #ccc;
  color: black;
  text-align: center;
  text-align: justify;
  font-size: 15pt;
}
form{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
label{
  padding: 10px;
  text-align: center;
}
.btn-next{
  background-color: #FEC75E;
  font-family: 'DotGothic16', sans-serif;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 7px;
}
#pasword-field{
  padding: 7px;
}
a{
  text-decoration: none;
  color: #000;
}
